body {
  font-family: Times New Roman;
  background:#f4f6f9;
  text-align:center;
}

.malla {
  display:flex;
  gap:25px;
  padding:30px;
}

.bloqueada {
  opacity:0.35;
  pointer-events:none;
}

.semestre {
  min-width:280px;
}

.semestre h3 {
  background:#6b46c1;
}

.materia {
  font-size:16px;
  padding:12px;
}

#progress {
  font-size:22px;
}

.materia.aprobada {
  background:#9f7aea;
  color:white;
}

.materia.bloqueada{
  opacity:0.4;
  pointer-events:none;
}
