body {
  font-family: Times New Roman;
  background:#f4f6f9;
  text-align:center;
}

.malla {
  display:flex;
  gap:15px;
  overflow-x:auto;
  padding:20px;
}

.semestre {
  background:white;
  padding:10px;
  border-radius:12px;
  min-width:220px;
  box-shadow:0 4px 10px rgba(0,0,0,.1);
}

.semestre h3 {
  background:#6b46c1;
}

.materia {
  background:#ede9fe;
  color:#3c366b;
  font-weight:500;
}

.materia.aprobada {
  background:#9f7aea;
  color:white;
}

.materia.bloqueada{
  opacity:0.4;
  pointer-events:none;
}
}
